{% extends "squelette.html" %}

{% block corps %}

<div class="row">
  <div class="col-lg-6">
    <h1> Welcome to RUKI !</h1>
    <p><b>What's the goal of RUKI ?</b>
      <br/>
      It's very simple, i want to offer an easy way to visualize
      data from: <a href="http://vgibox.eu/repository/index.php/Main_Page">vgibox.eu</a>
    </p>
    <p>Nowadays we have many ways to visualize data, but too many are just
      printing text. If we can improve this simple method (textual research)
      and try to think different, we propose something different !
      <br/>
      You can find three main part in this website:
      <br/>
      <a href='visualization'>Visualization</a>,
      <a href='import'>import</a> and <a href='export'>export</a>.
      <br/>
      If you want to see result, just go visualization !
      <br/>
      If you want to test your method on the same dataset, export it
      and import it (Explication are given in the import page)
    </p>
  </div>
</div>

{% endblock %}
