<!DOCTYPE html>
<html>
    <head>
    {% block header %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8" />
      <title>{% block titre %}Titre par défaut{% endblock %}</title>
      <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    </head>

    <body>

      {% block top %}

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="accueil">RUKI</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="accueil">Home</a></li>
            <li><a href="world">World</a></li>
            <li><a href="vizualisation">Vizualisation</a></li>
            <li><a href="export">Export</a></li>
            <li><a href="import">Import</a></li>
          </ul>
        </div>
      </nav>

      {% endblock %}

      {% block corps %}{% endblock %}

          {% with messages = get_flashed_messages() %}
            {% if messages %}
               <ul>
               {% for m in messages %}
                   <li>{{ m }}</li>
               {% endfor %}
               </ul>
            {% endif %}
          {% endwith %}

        {% block footer %}
          <footer>Copyright @</footer>
        {% endblock %}
    </body>
</html>
