{% extends "squelette.html" %}

{% block header %}
    {{ super() }}
    <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <link href="{{ url_for('static', filename='world.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block corps %}

<div class="row">
  <div class="col-lg-12">
    <h3>Here you can visualize data with differents methods:</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <form method="post" action="">
      <p>
        <label for="method_select">Methods avaible:</label><br />
        <select name="method_select" id="method_select">
          {% for method in list_method %}
            <option value="{{method}}">{{method}}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Envoyer" />
      </p>
    </form>
    <h3>Method title: {{method_title}}</h3>
    <p>
      Method description: {{method_description}}
    </p>
  </div>
</div>

{% if printable == True %}

<div class="row">
  <div class="col-lg-8" style="height:1280px">

    <!--<svg width="960" height="960"></svg>-->
    <svg width="1250" height="1250"></svg>
    <svg></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

    var svg = d3.select("svg"),
        //margin = 1,
        margin = 20,
        diameter = +svg.attr("width"),
        g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

    var color = d3.scaleLinear()
        .domain([-1, 5])
        .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
        .interpolate(d3.interpolateHcl);

    var pack = d3.pack()
        .size([diameter - margin, diameter - margin])
        .padding(2);


    d3.json("{{name_file}}", function(error, root) {
      if (error) throw error;

      root = d3.hierarchy(root)
          .sum(function(d) { return d.size; })
          .sort(function(a, b) { return b.value - a.value; });

      var focus = root,
          nodes = pack(root).descendants(),
          view;

      var circle = g.selectAll("circle")
        .data(nodes)
        .enter().append("circle")
          .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
          .style("fill", function(d) { return d.children ? color(d.depth) : null; })
          .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); display_table(d); });

      var text = g.selectAll("text")
        .data(nodes)
        .enter().append("text")
          .attr("class", "label")
          .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
          .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
          //.style("font-size", function(d) {return d.data.name.length > 9? 20 + "px" : 40 + "px" ; })
          //.style("font-size", function(d) { return (2 * d.r - 8) / 500 * 100 + "px"; })
          .text(function(d) {var frags = (d.data.name).split('_'); return frags.join(' ');});
          //.text(function(d) { return d.data.name; });

      var node = g.selectAll("circle,text");

      svg
          .style("background", color(-1))
          .on("click", function() { zoom(root); clean_table(); });

      zoomTo([root.x, root.y, root.r * 2 + margin]);

      function zoom(d) {
        var focus0 = focus; focus = d;

        var transition = d3.transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .tween("zoom", function(d) {
              var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
              return function(t) { zoomTo(i(t)); };
            });

        transition.selectAll("text")
          .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
            //.style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
            .style("fill-opacity", function(d) { return d.parent === focus ? d.children ? 1 : 0 : 0; })
            .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
            .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
      }

      function zoomTo(v) {
        var k = diameter / v[2]; view = v;
        node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
        circle.attr("r", function(d) { return d.r * k; });
      }

      function display_table(node) {
        /* We create a table where we have all article of the focus node */
        var el_to_display = ['title', 'keywords', 'abstract']
        var article_table = document.getElementById('articles_table');
        article_table.innerHTML = '';
        var tbl = document.createElement('table');

        tbl.style.width = '100%';
        tbl.setAttribute('border', '1');

        var tbdy = document.createElement('tbody');


        var tr = document.createElement('tr');
        var th = document.createElement('tr');
        var node_name = node.data['name'];
        var frags = node_name.split('_');
        var node_name_with_space = frags.join(' ')
        th.appendChild(document.createTextNode('Category: '.concat(node_name_with_space)));
        th.setAttribute('class', 'category')
        tr.append(th)
        tbdy.append(tr)

        for (el in node.children) {
          var child = node.children[el];
          if(!child.children) {

              var tr = document.createElement('tr');
              var td = document.createElement('td');

              for (var i in el_to_display) {
                if (typeof child.data[el_to_display[i]] == 'undefined'){
                  var choice = '---'
                }
                else{
                  var choice = child.data[el_to_display[i]];
                }
                  //var td = document.createElement('td');
                  var p = document.createElement('p')
                  p.setAttribute('class', el_to_display[i]);
                  if(el_to_display[i] == 'title'){
                    var link = document.createElement('a')
                    link.setAttribute('href', child.data.url)
                    link.appendChild(document.createTextNode(choice));
                    p.appendChild(link);
                  }
                  else{
                    p.appendChild(document.createTextNode(choice));
                  }
                  td.append(p)
                  tr.appendChild(td);
              }
              tbdy.appendChild(tr);
            }
        }
        tbl.appendChild(tbdy);
        article_table.appendChild(tbl);


      }

      function clean_table(){
        var article_table = document.getElementById('articles_table');
        article_table.innerHTML = '';
      }

    });

    function capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

    </script>

  </div>

  <div class="col-lg-4" style="height:1280px" id="articles_table">
  </div>
</div>

{% endif %}

{% endblock %}
